:root{
    --color1:#0275D8;
    --color2:#7F90BC;
    --color3:#F6F9FF;
    --color4:#E6F4F1;
  }
  *{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  body{
    font-family: serif;
    font-size: 20px   
    
  }
  #navbar{
    top:0;
    left:0;
    width:100%;
    background-color: var(--color4);
    padding:20px;
  }
  .nav-links{
    display:flex;
    justify-content:start;
    gap:20px;
    list-style-type:none;
  }
  .nav-link a{
    color: var(--color2);
    text-decoration:none;
  }
  #toggler{
    position:fixed;
    top:20px;
    right:20px;
    display:none;
  }
  .search{
    justify-content:flex-end;
  }
 
/* landing */
#landing{
    height:100vh;
    background-image: url("assets/tableimage.jpg");
}
#sort-options{
    z-index: 3;
    box-shadow: 10px;
}
#propertyList{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
#propertyList div{
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
.specification{
    font-size: 15px;
    margin-bottom: 0;
    padding-bottom: 0;
}
#agents{
    display: flex;
}
.card-img-top{
    height: 200px;
}
.card-title{
    font-weight: bold;
}
.card:hover{
    box-shadow: 15px;
}
@media screen and (max-width:768px){
    .nav-links{
      flex-direction:column;
      height:100vh;
      align-items:center;
    }
    #navbar{
      top:-110vh;
      transition:all 0.6s linear;
    }
    #navbar.active{
      top:0;
    }
    #toggler{
      display:block;
    }
}